@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scrollbar-width: none;
}

body{
    background-color: #d0d3d0;
}

.container{
    min-height: 100dvh;
    width: 80%;
    padding: 20px;

    display: grid;
    grid-template-rows: 10vh 10px 1fr;
    gap: 40px;
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.container .body{
    display: flex;
    padding: 0px 40px;
    margin: 5px 5px 10px 10px;

    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    background: white;
    color: black;
    border-radius: 20px;
    /* box-shadow: 0px -15px 10px -15px #111; */
    box-sizing: border-box;
}

.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    margin: 5px 5px 10px 10px;
    height: 100px;
    background: white;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
    /* box-shadow: 10px 15px 10px -15px #111; */
}

.container .admin-title{
    height: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.container .admin-navbar{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    gap: 50px;
}

.container .admin-navbar #admin-icon{
    background-color: #0095b7;
    color: white;
    height: 2rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 5px;
    margin-right: 10px;
}

.container .admin-navbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;

    display: inline-block;
    padding: 10px 5px;
    position: relative;
}

.container .admin-navbar a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #0095b7;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.container .admin-navbar a:hover::after{
    width: 100%; 
    left: 0; 
}

.container hr{
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
}

