.sidebar{
    height: 100dvh;
    width: 20dvw;
    position: fixed;

    display: flex;
    flex-direction: column;

    padding: 20px 30px;
    background-color: #00a6ca;
    /* background-image: linear-gradient(to bottom, #3f7fd4, rgb(19, 30, 151)); */
    /* background: rgb(2,0,36);
    background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    /* background: rgb(21,17,80);
    background: linear-gradient(346deg, rgba(21,17,80,1) 0%, rgba(22,41,150,1) 33%, rgba(25,63,198,1) 70%, rgba(79,139,255,1) 100%); */
    /* background: rgb(16,11,87);
    background: linear-gradient(320deg, rgba(16,11,87,1) 0%, rgba(22,41,150,1) 33%, rgba(25,63,198,1) 46%, rgba(0,255,249,1) 100%); */
    color: white;
}

.sidebar h1{
    padding: 20px 20px;
}

.sidebar h3{
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar h3:hover{
    background-color: rgba(255, 255, 255, 0.137);
}

.sidebar .list #dashboard{
    display: list-item;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.sidebar .list .list-item{
    line-height: 50px;
}
.sidebar .list .list-item .main-list{
    position: relative;
    list-style: none;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    overflow: hidden;

    transition: background-color .1s;
    cursor: pointer;
    transition: height .5s ease;
}

.sidebar .list .list-item .main-list.show{
    transition: height .5s ease;
}

.sidebar .list .list-item .main-list li{
    border-radius: 5px;
    height: 50px;
    width: 100%;
}

.sidebar .list .list-item .main-list li a{
    display: list-item;
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

.sidebar .list .list-item .sub-list li a{
    margin-left: 50px;
}

.sidebar .list .list-item li:hover{
    background-color: rgba(255, 255, 255, 0.137);

}

.sidebar .list .list-item .sub-list{
    list-style: none;
    margin-top: 5px;
    margin-left: 10px;
}

.sidebar .list .list-item span{
    position: absolute;
    right: 10px;
    top: 10px;
}

.sidebar .list .list-item .logout{
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* width: 100dvw; */
    color: white;
    background-color: #00a6ca;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar .list .list-item .logout:hover{
    background-color: #006b83;
}